body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  padding: 50px;
}
.counter {
  font-size: 18vh;
  color: #000;
  margin: 0 20px;
  font-weight: bold;
}
.title {
  font-size: 14vh;
  margin-bottom: 10px;
}
.subtitle {
  font-size: 8vh;
  color: #333;
  margin-bottom: 30px;
}

.visitor {
  display: flex;
  justify-content: center; /* 中心に配置 */
  align-items: center; /* 垂直方向も中心に */
}

.unit {
  font-size: 8vh;
  color: #000;
  margin-left: -10px;
  margin-top: 5rem;
}

img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

@media (max-width: 600px) {
  body {
    padding: 20px;
  }
  .counter {
    font-size: 3em;
  }
  .title {
    font-size: 1.5em;
  }
  .subtitle {
    font-size: 1em;
  }

  .unit {
    font-size: 1em;
    margin-top: 1.2rem;
  }

  img {
    width: 40%;
    max-width: 300px;
    height: auto;
  }
}
